$text-color: #2E2E2E;

* { box-sizing: border-box; }

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}

html {
    font-size: 0.875em;
}

body {
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #212121;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  font-family: 'Playfair Display', serif;
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {font-size: 2.369em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.333em;}

small, .font_small {font-size: 0.8em;}