@charset "utf-8";
@import 'base',
		'flexboxgrid.min.css', 
		'syntax-highlighting';

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.page-content {
	position: relative;
	width: 100%;
	min-height: 100vh;
}

.header {
	flex: 1 0 100%;
	display: flex;
	justify-content: center;
	text-align: center;
	margin: 4em 0;
	
	.logo { width: 180px; }
	@media screen and (max-width: 768px) {
		margin-bottom: 0;
	}
}

.ic {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;

	
	

	@media screen and (min-width: 1024px) {
		width: 24px;
		height: 24px;		
		&.ic-resume { width: 24px; height: 24px; }
	}
}

.ic--floated {
	position: absolute;
	&.top-left { top: 30px; left: 30px; }
	&.top-right { top: 30px; right: 30px; }
	&.bottom-left { bottom: 30px; left: 30px; }
	&.bottom-right { bottom: 30px; right: 30px; }
	@media screen and (max-width: 768px) {
		&.top-left { top: 15px; left: 15px; }
		&.top-right { top: 15px; right: 15px; }
		&.bottom-left { bottom: 15px; left: 15px; }
		&.bottom-right { bottom: 15px; right: 15px; }
	}
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: 1024px) {
		align-items: baseline;
	}

}

.portfolio {
	flex: 1 0 100%;
	padding: 2em;

	display: flex;
	flex-wrap: wrap;
}


/* POSTS */

.work-wrapper {
	flex: 1 0 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 4em 2em;
}

.post {
	flex: 1 0 100%;
	width: 100%;
}

.work-meta { 
	margin: 0 0 0 0;

	@media screen and (min-width: 426px) and (max-width: 768px) {
		margin-bottom: 2em;
	}

	@media screen and (min-width: 768px) {
		margin-bottom: 4em;
	}

}

.work-meta > .wm__client, 
.work-meta > .wm__agency {
	
	> h4 {
		letter-spacing: 5px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1em;
		margin: 0;
	}

	> p { white-space: nowrap; margin: .2em 0 0 0; }

	@media screen and (max-width: 425px) {
		flex-basis: 50%;
		max-width: 50%;
	}

	@media screen and (max-width: 480px) {
		> h4 { font-size: 0.8em; }
	}

}

.work-meta > .wm__pub-date { 
	margin-left: auto; 
	text-align: right;
	@media screen and (max-width: 480px) {
		font-size: 0.8em;
		margin-bottom: 1.3em;
	}

	@media screen and (max-width: 425px) {
		text-align: left;
		margin-left: 0;
		margin-top: 1em;
	}

}

.work {

	.wrk__image {
		background-repeat: no-repeat;
		background-size: 100% auto;
		padding-bottom: 37.1%;
		background: linear-gradient(to bottom, #29323c, #485563);
		
	}

	
}

.wrk__content {

	&.wrk__content--wrapper {
		max-width: 70%;
		margin: 0 auto;
		@media screen and (max-width: 375px) {
			max-width: 100%;	
		}
	}


}

 s {
     text-decoration: none;
     background-image: linear-gradient(transparent 10px, #333 10px, #333 12px, transparent 9px);
     background-position: 0 27px;
  }

.wrk__title {
	font-family: 'Playfair Display', serif;
	font-style: italic;
	position: relative;
	display: inline-block;
	white-space: pre-line;

	&:before {
		content: "";
	    display: inline-block;
	    vertical-align: middle;
	    width: 50px;
	    position: absolute;
	    top: .8em;
	    height: 1px;
	    background-color: #424242;
	    left: -60px;
	}

}

.after-img {
	margin-top: 1em;
}