@charset "utf-8";
@import 'base',
		'flexboxgrid.min.css', 
		'syntax-highlighting';

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.page-content {
	position: relative;
	width: 100%;
}

.header {
	display: flex;
	justify-content: center;
	text-align: center;

	.logo { width: 180px; }

	@media screen and (min-width: 1024px) {
		.logo { margin-top: 100px; }
		.logo { width: 100%; }
	}
}

.ic {
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;

	&.ic-cc{ width: 24px; height: 24px; }
	&.ic-resume { width: 18px; height: 18px; }

	@media screen and (min-width: 1024px) {
		width: 24px;
		height: 24px;
		&.ic-cc { width: 32px; height: 32px; }		
		&.ic-resume { width: 24px; height: 24px; }
	}
}

.ic--floated {
	position: absolute;
	&.top-left { top: 30px; left: 30px; }
	&.top-right { top: 30px; right: 30px; }
	&.bottom-left { bottom: 30px; left: 30px; }
	&.bottom-right { bottom: 30px; right: 30px; }
	@media screen and (max-width: 768px) {
		&.top-left { top: 15px; left: 15px; }
		&.top-right { top: 15px; right: 15px; }
		&.bottom-left { bottom: 15px; left: 15px; }
		&.bottom-right { bottom: 15px; right: 15px; }
	}
}

.wrapper {
	max-width: 1080px;
	margin: 0 auto;

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	@media screen and (min-width: 1024px) {
		align-items: baseline;
	}

}

.portfolio {
	flex: 1 0 100%;
	padding: 2em;

	display: flex;
	flex-wrap: wrap;
}


/* POSTS */

.work-wrapper {
	display: flex;
	flex-wrap: wrap;
	padding: 4em 2em;
}

.work-meta > .wm__client, 
.work-meta > .wm__agency {
	margin-bottom: 1em;
	
	> h4 {
		letter-spacing: 5px;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 1em;
	}

	> p { white-space: nowrap; }
}

.work-meta > .wm__pub-date { 
	margin-left: auto; 
	margin-bottom: 1em;
	text-align: right;
}
.work-meta h4, .work-meta p {
	margin: 0;
}

.work {

	.wrk__image {
		background-repeat: no-repeat;
		background-size: 100% auto;
		padding-bottom: 37.1%;
		background: linear-gradient(to bottom, #29323c, #485563);
		
	}

	
}

.wrk__content {

	&.wrk__content--wrapper {
		max-width: 70%;
		margin: 0 auto;
	}
}

.wrk__title {
	font-family: 'Playfair Display', serif;
}

.after-img {
	margin-top: 1em;
}