---
layout: default
---

<header class="header">
	<a href="{{ site.url }}" class="logo-full">
	  <img src="/assets/logo+type.svg" alt="Duda Neves">
	</a>
</header>

<section class="portfolio">
		<div id="filterBtnGroup" class="filter-btns">
			<button data-filter="" class="active">All</button>
			<button data-filter=".on">On</button>
			<button data-filter=".off">Off</button>
		</div>
		<ul class="works-grid">
			<div class="work-sizer"></div>

			{% for post in site.posts %}
			<li class="work-item {% if post.is_on %} on {% else %} off {% endif %}" 
				data-title="{{ post.title }}">
				<a href="{{post.url}}">
					<img src="{{ post.thumb }}" onhashchange="changeOpacity()" />
				</a>
			</li>
			{% endfor %}
			
		</ul>
	
</section>