---
layout: default
---
<div class="work-wrapper">

  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="work-meta row bottom-xs" style="margin: 0;">

      {% if page.client %}
        <div class="wm__client col-xs-3 col-sm-2">
          <h4>Cliente_</h4>
          <p class="font_small">{{ page.client }}</p>
        </div>
      {% endif %}

      {% if page.agency %}
        <div class="wm__agency col-xs-3 col-sm-2">
          <h4>Agencia_</h4>
          <p class="font_small">{{ page.agency }}</p>
        </div>
      {% endif %}
      
      <div class="wm__pub-date col-sm-2">
        <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          {{ page.date | date: date_format }}
        </time>
      </div>
      
    </div>
    

    <div class="work" itemprop="articleBody">

      <div class="wrk__image" {% if page.image %} style="background-image: url('{{ page.image }}');" {% endif %}>
      </div>

      
      <div class="wrk__content wrk__content--wrapper">
        {% if page.title %}
          <h1 class="wrk__title after-img">{{ page.title }}</h1>
        {% endif %}
        {{ content }}  
      </div>
      
    </div>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}
  </article>

</div>